.app_orange_theme {
    --bg-color: #563f23;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #3a1b18;
    --secondary-color: #bd8153;
    --inverted-primary-color: #bd8153;
    --inverted-secondary-color: #3a1b18;
}
