.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-right: 20px;
}

.recommendations {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.card {
    padding: 10px;
    margin: 10px;
}
