.Flex {
    display: flex;
}

.justify {
    &__start {
        justify-content: flex-start;
    }
    &__center {
        justify-content: center;
    }
    &__end {
        justify-content: flex-end;
    }
}   


.align {
    &__start {
       align-items: flex-start;
    }
    &__center {
        align-items: center;
    }
    &__end {
        align-items: flex-end;
    }
}   

.direction {
    &__row {
        flex-direction: row;
    }
    &__column {
        flex-direction: column;
    }
}