.SidebarRedesigned {
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;

    .items {
        margin-top: 40px;
        margin-left: 30px;
    }

    .appLogo {
        padding-top: 20px;
    }
}